*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
}
.container, .grid, .column {
    display: flex;
}
.container {
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    outline: 4px solid rgb(236, 174, 137);
    border-radius: 8px;
}

.grid {
    width: 800px;
    height: 800px;
    background-color: white;
    flex-direction: column;
    outline: 4px solid rgb(236, 174, 137);
}

.number,  .submit {
    border-radius: 4px;
    padding: 10px;
    margin-top: 150px;
}
.submit {
    background-color: wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.column {
    flex: 1;
}
.cell {
    flex: 1;
}
