*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    font-family: "Chewy", Arial, Helvetica, sans-serif;
}
.container, .grid, .row {
    display: flex;
}
.container {
    background-color: beige;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 30px;
    outline: 4px solid rgb(236, 174, 137);
    border-radius: 8px;
}

.grid {
    width: 800px;
    height: 800px;
    background-color: white;
    flex-direction: column;
    outline: 4px solid rgb(236, 174, 137);
}

.number, .submit, button{
    padding: 10px;
    border-radius: 12px;
    border: 3px solid rgb(236, 174, 137);
}

.submit, button{
    background-color: wheat;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition-duration: 0.2ms;
    transition-property: all;
    transition-behavior: initial;
}

button.act, .submit:active{
    background-color: rgb(236, 174, 137);
    color: rgb(200, 255, 0);
}
button.act {
    transform:translateY(-5px);
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.row {
    flex: 1;
}
.cell {
    flex: 1;
}
